.footer {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 0;
}

p.footer {
  color: rgba(255, 255, 255, 0.3);
}

.section {
    padding-top: 60px;
    padding-bottom: 30px;
}
